<h1>Strategy#calculate</h1>
<p>Find me in app/views/strategy/calculate.html.erb</p>

<table>
<thead>
    <tr>
        <th>
        Lap number
        </th>
    </tr>
    
</thead>
<tbody>
    <tr>
        <td>
            <%= @strategy.pitlap %>
        </td>
    </tr>
    <tr>
        <td>
            <%= @strategy.best_strategy %>
        </td>
    </tr>
    
</tbody>
</table>